# Dependencies
node_modules

# Builds
dist
build
coverage

# Environment files
.env
.env.local
.env.development
.env.production
apps/backend/.env
apps/frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea

# Prisma / generated cache
apps/backend/src/generated