PORT=5000
NODE_ENV=development

DATABASE_URL="postgresql://postgres:password@localhost:5432/sellerhub_db?schema=public"
JWT_ACCESS_SECRET="change_me_access_secret"
JWT_REFRESH_SECRET="change_me_refresh_secret"